.a1 {
    color: red;
}

.tab1 {
    border-style: double;
    text-align: center;
}

.tab2 {
    border-style: solid;
}

.tab3 {
    border-style: groove;
}

.ab1 {
    background-color: cadetblue;
}

.ab2 {
    background-color: crimson;
}

.ab3 {
    background-color: darkgreen;
}